.menu__nav{
    background-color: aqua;
    color: black;
}

.menu__nav--menu{
    display: none;
}

.menu__nav--nav_links{
    top:1rem;
    left: 15rem;
    z-index: 1;
    display: flex;
    justify-content: row-reverse;
    width: 80%;
    height: auto;
    font-size: 2rem;;
    text-align: center;
    
  }

/* .menu__nav--nav_links > li{
    position:relative;
    display: block;
    width: 95%;
   
    height: fit-content;
    border-bottom:.063em solid pink;
    line-height: 1.25em;
    text-align: left;
    margin-inline:auto;
    padding-top: .125em;
    padding-bottom: .125em;
    cursor:pointer;
    
    } */