
.header{
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Raleway";
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.menu__nav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: black;
 
}

.menu__nav-img {
  display: flex;
  width: 100%;
  height: 60%;
  cursor: pointer;
  padding: 0 1rem; 
}

#menu__nav--check{
  display:none;
  }

#menu__nav--check:checked ~ ul {
    right:0;
    
  }
  
.menu__nav--icon{
    cursor:pointer;
    width: 50px;
    height: 30px;
    position: relative;
    padding: 0 2rem; 
    
  }
  .menu__nav--icon #spn1, #spn3{
    position: absolute;
    content:"";
    background-color: #fffffF;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    transition: all 400ms ease;
  }
  #spn3{
    top: 22px;
  }

  #menu__nav--check:checked ~ .menu__nav--icon #spn1{
    transform: rotate(140deg);
    top:10px;

  }
  
  #menu__nav--check:checked ~ .menu__nav--icon #spn2{
    opacity: 0;

  }
  
  #menu__nav--check:checked ~ .menu__nav--icon #spn3{
    transform: rotate(-140deg);
    top:10px;

  }

  .menu__nav--categories {
    position: fixed;
    top: 4.03rem;
    right: 100%;
    z-index: 1;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    background: black;
    transition: all .5s;
  }

  .menu_advertising{
    padding: 0 3rem;
    display: flex;
    max-width:80%;
    height: 50px;
  }

  .img_advertising{
    max-width:100%;
  }
  .menu__nav--categories > li{
    position:relative;
    padding-top: .125em;
    padding-bottom: .125em;
    padding-left:5%;
    display: block;
    width: 95%;
    height: fit-content;
    border-bottom:.063em solid white;
    line-height: 1.25em;
    text-align: left;
    margin-inline:auto;
    cursor:pointer;
  }
  
  .menu__nav--categories > li:nth-child(n+3)::before  {
    position:absolute;
    left:.525em;
    content: "";
    width:.400em;
    height: 80%; 
   
    
    
  }

  .menu__nav--categories > li:nth-child(n+3)::before {
    background-color: #91253C; 
  }
  .menu__nav--categories > li:nth-child(n+4)::before {
    background-color: #565294; 
  }
  .menu__nav--categories > li:nth-child(n+5)::before {
    background-color: #C73A7A; 
  }
  .menu__nav--categories > li:nth-child(n+6)::before {
    background-color: #E3639E; 
  }
  .menu__nav--categories > li:nth-child(n+7)::before {
    background-color: #5390D1; 
  }
  .menu__nav--categories > li:nth-child(n+8)::before {
    background-color: #17BFA3; 
  }
  .menu__nav--categories > li:nth-child(n+9)::before {
    background-color: #72B73F; 
  }
  .menu__nav--categories > li:nth-child(n+10)::before {
    background-color: #EFAA0C; 
  }
  .menu__nav--categories > li:nth-child(n+11)::before {
    background-color: #E57129; 
  }
  .menu__nav--categories > li:nth-child(n+12)::before {
    background-color: #91253C; 
  }
  
  
  
  
  

  .search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 50px;
  }
  
  .input-search {
    width: 80%; /* Reducir el ancho para dar espacio al botón */
    padding-left: 0.5rem;
    height: 2.7rem;
    background-color: rgb(73, 73, 73);
    font-size: 1rem;
    border: none;
  }

  ::placeholder {
    font-family: "Raleway";
    color: #ffffff;
  }
  
  .button_search {
    width: 15%; /* Aumentar el ancho para dar espacio al botón */
    background-color: rgba(133, 133, 133);
    color: #ffffff;
    padding: 0;
    height: 2.7rem;
    display: inline-block;
    text-align: center;
    line-height: 2.7rem;
    border: none;
  }
  .menu__nav--category{
   
    line-height: 2rem;
    font-size:  1.25rem ;
    text-align: right;
    color:#fffffF;
    text-decoration: none;
  }

  .menu__nav--category:hover{
    text-decoration: underline;
  }

  .category-paragraph{
    font-size: 1.25rem;
    color:#ffffff;
    font-weight: bolder;
  }

  .menu__nav--social {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
  
  .category-paragraph {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .menu__nav__social--icon{
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
    cursor:pointer;
    font-size: 2rem;
  
  }
  
  .menu__nav__social--icon a {
    
    color: white;
    text-decoration: none;
  }