
.header{
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Raleway";
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.menu__nav{
  padding-left: 2em;
  z-index: 2;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5rem;
  background-color: black;
}

.menu__nav-img img{
  display: flex;
  width: 80%;
  height: 60%;
  cursor: pointer;
}
#menu__nav--check{
  display:none;
  }

#menu__nav--check:checked ~ ul {
    right:0;
  }
  
.menu__nav--icon{
    cursor:pointer;
    font-size: 2rem;
    color:white;
    display: block;
  }

  .menu__nav--categories{
    position: fixed;
    top:4.5em;
    right:100%;
    z-index: 1;
    display: block;
    width: 100%; 
    height: 97vh;
    text-align: center;
    background: rgba(10, 10, 10, 0.9);
    transition: all .5s;
  }
  .menu_advertising{
    padding: 0 3rem;
    display: flex;
    width: 80%;
    height: 50px;
  }

  .menu__nav--categories > li{
    position:relative;
    padding-top: .125em;
    padding-bottom: .125em;
    padding-left:5%;
    display: block;
    width: 95%;
    height: fit-content;
    border-bottom:.063em solid gray;
    line-height: 1.25em;
    text-align: left;
    margin-inline:auto;
    cursor:pointer;
  }
  
  .menu__nav--categories > li:not(:first-child):not(:nth-child(2)):not(.category-paragraph)::before {
    position:absolute;
    left:.525em;
    content: "";
    width:.400em;
    height: 80%; 
    background-color: aqua;
    
  }

  
  
  

.search-box{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.input-search{
  width: 80%;
  background-color: rgb(73, 73, 73);
  color: #fffffF;
  height: 50px;
}
::placeholder{
  color: #fffffF;
}
.button_search{
  width: 20%;
  background-color:rgba(133, 133, 133);
  color: #fffffF;
 padding: 0;
 height: 50px;
}

  .menu__nav--category{
    line-height: 2rem;
    font-size:  1.25rem ;
    text-align: right;
    color:#fffffF;
    text-decoration: none;
  }

  .menu__nav--category:hover{
    text-decoration: underline;
  }

  .category-paragraph{
    font-size: 1.25rem;
    color:#ffffff;
    font-weight: bolder;
  }

  .menu__nav--social{
    display:flex;
    justify-content: space-around;
    color:#ffffff;
    font-size: 1.5em;
    list-style: none;
    text-decoration: none;
  }